.bd-placeholder-img {
	font-size: 1.125rem;
	text-anchor: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

@media (min-width: 768px) {
	.bd-placeholder-img-lg {
		font-size: 3.5rem;
	}
}

.b-example-divider {
	height: 3rem;
	background-color: rgba(0 0 0 / 10%);
	border: solid rgba(0 0 0 / 15%);
	border-width: 1px 0;
	box-shadow: inset 0 0.5em 1.5em rgba(0 0 0 / 10%), inset 0 0.125em 0.5em rgba(0 0 0 / 15%);
}

.b-example-vr {
	flex-shrink: 0;
	width: 1.5rem;
	height: 100vh;
}

.bi {
	vertical-align: -0.125em;
	fill: currentcolor;
}

.nav-scroller {
	position: relative;
	z-index: 2;
	height: 2.75rem;
	overflow-y: hidden;
}

.nav-scroller .nav {
	display: flex;
	flex-wrap: nowrap;
	padding-bottom: 1rem;
	margin-top: -1px;
	overflow-x: auto;
	text-align: center;
	white-space: nowrap;
	-webkit-overflow-scrolling: touch;
}
.feather {
/*	width: 24px;
	height: 24px;*/
	stroke: currentColor;
	stroke-width: 2;
	stroke-linecap: round;
	stroke-linejoin: round;
	fill: none;
}

.postBox {
	margin: 10px;
	padding: 10px;
	height: 480px;
	border-radius: 10px;
	background-color: #fafafa;
	display: flex;
	flex-direction: row;
}
.post {
	margin: 10px;
	width: 250px;
	height: 250px;
	border-radius: 10px;
}


.like-button {
	background-color: transparent;
	border: none;
	width: 30px;
	height: 30px;
}
.feather {
	width: 25px;
	height: 25px;
}
.like-bar {
	display: flex;
	flex-direction: row;
}
.like-counter {
	font-size: 20px;
	margin-left: 10px;
}
.description{
	font-size: 20px;
	margin-left: 10px;
}

.comment-box {
	display: flex;
	flex-direction: column;
	overflow: auto;
}
.comment {
	border: 1px solid black;
	padding: 10px;
	border-radius: 10px;
	margin: 10px;
	width: 1000px;
	display: flex;
	flex-direction: column;
}
.comment-text {
	font-size: 15px;
	margin-left: 10px;
	overflow: scroll;
	max-height: 90px;
}
.comment-user {
	font-size: 17px;
	font-weight: bold;
	margin-left: 10px;
}
.dateTime {
	font-size: 10px;
	margin-left: 10px;
	margin-top : -20px;
}

.comment-button {
	background-color: transparent;
	border: none;
	width: 30px;
	height: 30px;
}
.comment-bar {
	display: flex;
	flex-direction: row;
}
.delete-button{
	background-color: transparent;
	border: none;
	width: 30px;
	height: 30px;
}
.feather.trash:hover {
	fill: rgba(255, 0, 0, 0.5);
}
.feather.addcomment:hover {
	fill: rgba(0, 0, 255, 0.5);
}

.feather.like:hover{
	fill: rgba(255,0,0, 0.5);
}
.comment-input {
	font-size: 15px;
	overflow: scroll;
}
.deletePost-button {
	background-color: transparent;
	border: none;
	width: 30px;
	height: 30px;
	display: flex;
	flex-direction: row;
}

.follow-button {
	background-color: dodgerblue;
	border: 1px solid black;
	width: 150px;
	height: 50px;
	border-radius: 10px;
	color: white;
	font-size: 20px;
}
.follow-button:hover {
	background-color: blue;

}
.ban-button {
	background-color: red;
	border: 1px solid black;
	width: 150px;
	height: 50px;
	border-radius: 10px;
	color: white;
	font-size: 20px;
}
.ban-button:hover {
	background-color: darkred;
}
.upload-button {
	background-color: seagreen;
	border: 1px solid black;
	width: 150px;
	height: 50px;
	border-radius: 10px;
	color: white;
	font-size: 20px;
}
.upload-button:hover {
	background-color: darkgreen;
}

.changeUsername-button {
	background-color: seagreen;
	border: 1px solid black;
	width: 200px;
	height: 50px;
	border-radius: 10px;
	color: white;
	font-size: 20px;
}
.changeUsername-button:hover {
	background-color: darkgreen;
}

.search-button {
	background-color: dodgerblue;
	border: 1px solid black;
	width: 150px;
	height: 50px;
	border-radius: 10px;
	color: white;
	font-size: 20px;
}
.search-button:hover {
	background-color: blue;
}
.search-input {
	font-size: 20px;
	border-radius: 10px;
}
.profile-header {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}
.counters {
	display: flex;
	flex-direction: row;
	font-size: 20px;
	margin: 20px;
	font-weight: bold;
}
.login-button {
	background-color: dodgerblue;
	border: 1px solid black;
	width: 150px;
	height: 50px;
	border-radius: 10px;
	color: white;
	font-size: 20px;
}
